:root {
  --primary-color: #7ec0ee;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fffb12;
}

ul {
  list-style: none;
}

.button {
  background-color: var(--primary-color);
}
